.card {
  width: 250px;
  height: 450px;
  background-color: 'f4f4f4';
  border-radius: 25px;
}
.card h2 {
  size: 15px;
}
.gp-ma-md {
  margin: 50px;
}
.gp-mt-sm {
  margin-top: 10px;
}
.gp-mr-sm {
  margin-right: 10px;
}
.gp-text-center {
  text-align: center;
}
.gp-right {
  float: right;
}
