@gray : 'f4f4f4';
@primary : #11743c;
@secondary : #2cc76f;
@white: white;
@white-z: rgba(255, 255, 255, 0.774);
@gradiente1: linear-gradient( 135deg, @secondary 0%, @primary 100%);

body{
	background-image: @gradiente1;
	width: 100vw;
	height: 100vh;
}

.card{
	h2{
		size: 15px;
	}
}

.gp-ma-md{
	margin: 0 30px;
}
.gp-text-w{
	color: @white;
}

.gp-mt-sm{
	margin-top: 10px;
}
.gp-mr-sm{
	margin-right: 10px;
}
.gp-text-center{
	text-align: center;
}

.gp-right{
	float: right;
}

.pure-button{
	background-color: @primary;
	width: 100%;
}

input{
	width: 100%;
}

.gp-display-off{
	display: none;
}

.gp-display-on{
	display: block;
}

.gp-comment{
	background-color: @white-z;
	width: 100vw;
}
